extends layout

block content
  a(href='https://github.com/kipkemei/blockchain/')
    img.github-ribbon(src='/images/fork-me-on-github-ribbon.png', alt='Fork me on GitHub')
  .container
    h1 Geeks Talk Thursday Blockchain Introduction

    img.img.img-responsive(src="https://ark-invest.com/wp-content/uploads/2016/03/blockchain.jpg")
    br
    p.pull-right by 
      a(href='http://#') Kipkemei De Isaac
      | Identified by BlockchainID 1K3NvcuZzVTueHW1qhkG2Cm3vpRkh2EXJp
